DATABASE_URL=YOUR_DB_URL
POSTGRES_PASSWORD=YOUR_DB_PASSWORD

REDIS_URL=YOUR_REDIS_URL

QDRANT_URL=YOUR_QDRANT_URL

S3_ENDPOINT_URL=YOUR_S3_ENDPOINT
S3_BUCKET_NAME=YOUR_S3_BUCKET_NAME
AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_PASSWORD

SECRET_KEY=YOUR_SECRET_AUTH_KEY
JWT_SECRET_KEY=YOUR_JWT_SECRET_KEY

LLM_PROVIDER=ollama
OLLAMA_BASE_URL=YOUR_OLLAMA_URL
OLLAMA_MODEL=YOUR_OLLAMA_MODEL
